@font-face {
  	font-family: 'PT sans';
	src: url('../fonts/ptsans.woff');
	src: url('../fonts/ptsans.woff2');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'PT sans';
	src: url('../fonts/ptsansbold.woff');
	src: url('../fonts/ptsansbold.woff2');
	font-style: normal;
	font-weight: 700;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
	margin: 0;
  	padding: 0;

	font-family: 'PT sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

img { max-width: 100% }

.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
}

.button:hover,
.button:focus {
  	background-color: #669ec0;

}

.button:active {
  	background-color: #5496bd;
 	color: rgba(255, 255, 255, 0.3);
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
	display: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	background-color: #ffffff;

	margin: 0;
	padding: 0;
	position: relative;
	}

.header-logo {	
	position: absolute;
	left: 50%; 
	transform: translateX(-50%);
	z-index: 1;
}

.site-navigation {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;

	display: flex;
	flex-wrap: wrap;
}

.site-navigation li {
	width: 20%;
	margin: 0;
}

.site-navigation li:nth-child(2) {
	margin-right: 20%;
}

.site-navigation a {
	color: #000000;
	display: block;
	padding: 16px 0;
}

.site-navigation a:hover,
.site-navigation a:focus{
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
	color: #766357;
	pointer-events: none;
}

.intro {
	position: relative;
	height: 510px;
	padding-top: 77px;
	text-align: center;

	background-color: #4c7e9d;
	background-image: url('../img/scenery.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top -56px left 0;
}

.intro::after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 57px;
	content: '';
	background: url('../img/intro-mask.svg') no-repeat;
	background-size: cover;
}

.advantages {
	padding-top: 60px;
}

.page-title {
	width: 441px;
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	margin: 0 auto;
}

.advantages-intro {
	margin: 0 auto;
	padding-top: 35px;
	padding-bottom: 53px;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color: #333333;
	width: 500px;
}

.advantages-list,
.advantages-sublist {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.advantages-image img {
	display: block;
}

.advantages-item:first-of-type,
.advantages-item:nth-of-type(2) {
	background-color: #81b3d2;
	width: 100%;
}

.advantages-item:first-of-type {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.advantages-info {
	margin: 0 auto;
}

.advantages-item:first-of-type .advantage-title {
	width: 130px;
	color: #ffffff;
}

.advantages-item:first-of-type .advantage-title + p {
	width: 285px;
	color: #ffffff;
}

.advantages-sublist {
	width: 100%;
	background-color: #ffffff;
}

.advantages-sublist-item {
	width: 33.3334%
}

.advantage-title,
.sub-advantage-title {
	margin: 0 auto;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	font-weight: 700;
}

.advantages-item:nth-of-type(2) {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	min-height: 256px
}

.advantages-item:nth-of-type(2) .advantages-info {
	padding-right: 50px;
}

.advantages-item:nth-of-type(2) .advantage-title {
	width: 155px;
	color: #ffffff;
}

.advantages-item:nth-of-type(2) p {
	width: 305px;
	color: #ffffff;
}

.advantages-item:nth-of-type(3),
.advantages-item:nth-of-type(4),
.advantages-item:last-of-type {
	padding-top: 50px;
	width: 33.3334%;
	background-color: #eeeeee;
	min-height: 256px;
}

.advantages-item:nth-of-type(3) .advantage-title {
	width: 130px;
	margin: 0 auto;
}

.advantages-item:nth-of-type(4) .advantage-title {
	width: 110px;
	margin: 0 auto;
}

.advantages-item:last-of-type .advantage-title {
	width: 105px;
	margin: 0 auto;
}

.advantages-item:nth-of-type(3) p {
	width: 210px;
	margin: 0 auto;
}

.advantages-item:nth-of-type(4) p {
	width: 265px;
	margin: 0 auto;
}
.advantages-item:last-of-type p {
	width: 250px;
	margin: 0 auto;
}

.hotel-search {
	padding-top: 50px;
}

.hotel-search b {
	width: 96px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
}

.hotel-search p {
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	text-align: center;
}

.hotel-search-button {
	width: 568px;
  	height: 86px;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	background-color: #766357;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
	background-color: #604e43;
}

.hotel-search-button:active {
	background-color: #503e33;
	color: #rgba(255, 255, 255, 0.3);
}

.search-form {
	width: 568px;
	height: 395px;
	background-color: #ffffff;
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
	margin: 0 auto;
}

.search-form-group {
	text-align: left;
}

.search-form-group label {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
}

.search-form-group .field {
	width: 346px;
	height: 38px;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: 700;
	background-color: #f2f2f2;
}

.search-form-group .field:hover,
.search-form-group .field:focus {
	background-color: #ebebeb;
}

.search-form-group .field:active {
  	border: solid 2px #e5e5e5;
  	background-color: #ffffff;
}

.search-form .half-width {
	display: inline-block;
}

.search-form-group .number-field {
	width: 38px;
	height: 38px;
}

.hotel-search-submit {
    width: 458px;
    height: 58px;
}

/*Страница каталога*/

.catalog ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.catalog-item {
	padding: 25px 73px 30px 72px;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	justify-content: space-between;
}

.catalog-item:first-of-type {
	border-top: 1px solid #e5e5e5;
}

.catalog-item-main {
	display: flex;
	align-items: flex-end;
}

.catalog-item-image {
	width: 135px;
	height: auto;
}

.catalog-item-image img {
	display: block;
}

.catalog-item-info {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	padding-left: 30px;
}

.catalog-item-title {
	margin: 0;
	width: 300px;
	text-align: left;
}

.catalog-item-title a {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
}

.catalog-item-title a:hover,
.catalog-item-title a:focus {
	color: #81b3d2;
}

.catalog-item-title a:active {
	color: #bdbbbc;
}

.catalog-item-info span {
	padding: 11px 24px 11px 0;
	color: #333333;
}

.catalog-item-info .button {
	margin-right: 6px;
	padding: 3px 15px 7px;
	height: 27px;
}

.catalog-item-info .button-dark {
	width: 142px;
	height: 27px;
	background-color: #766357;
}

.catalog-item-info .button-dark:hover,
.catalog-item-info .button-dark:focus {
	background-color: #604e43;
}

.catalog-item-info .button-dark:active {
	background-color: #rgba(255, 255, 255, 0.3);;
}

.catalog-item-rating {
	width: 110px;
  	height: 27px;
	background-color: #f2f2f2;
}

/*Футер сайта*/

.page-footer {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	padding-top: 36px;
	padding-bottom: 35px;
}

.contacts-info {
	margin: 0;
	width: 224px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: left;
}

.hashtag {
	display: block;
	margin-bottom: 10px;
}

.contacts-info a {
	color: #000000;
}

.social {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 160px;
}

.social li {
	margin-right: 7px;
	margin-bottom: 7px;
}

.social a {
	background-color: #81b3d2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;
}

.social a:hover,
.social a:focus {
	background-color: #669ec0;
}

.social a:active {
	background-color: #5496bd;
}

.social a:active .social-icon {
	background-color: rgba(255, 255, 255, 0.3);
}

.copyright {
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 26px;
}

.copyright svg:hover .html-logo,
.copyright svg:focus .html-logo {
	fill: #81b3d2;
}

.copyright svg:active .html-logo {
	fill: #bdbbbc;
}
